* {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: #333333;
    
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 140px;
}


.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}
.nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.fas {    
    margin-left: 500px;
    color: white;
    font-size: 12px;
}
.nav li {
    margin-left: 24px;
    font-size: 12px;
}
.nav a {
    color: white;
    text-decoration: none;
}

/* MAIN */

/* container */
.container {
    background-color: #1E93CC;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img {
    display: flex;
    justify-content: flex-start;
    margin-left: 121px;
    margin-top: 32px;
    margin-bottom: 50px;
}
.big-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 184px;
}
.big-logo img {
    margin-top: 30px;
    margin-bottom: 18px;
}
.big-logo h2 {
    color: white;
    font-size: 32px;
}
.big-logo button {
    background-color: #E99001;
    color: white;
    padding: 20px;
    margin-top: 36px;
    margin-bottom: 50px;
    border-radius: 14px;
    border: 2px solid white;
    font-size: 24px;
}
.big-logo a {
    text-decoration: none;
    color: white;
}

/* WHITE BAND */

.whiteband {
    display: flex;
    justify-content: center;
}
.whiteband h1 {
    margin: 29px 0;
}

/* SECTION SERVICE */

.service {
    background-color: #1E93CC;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.service h2 {
    color: white;
    margin-bottom: 25px;
    margin-top: 40px;

}
.card1 {
    margin-right: 30px;
    margin-left: 140px;
}
.card2 {
    margin-right: 30px;
    margin-left: 140px;
    
}

.service p {
    color: white;
    margin-bottom: 85px;
}

.whiteband h2 {
    margin: 29px 0;
    color: #73777B;
}

/* LOGO */
.container-logo {
    background-color: #EEEEEE;
    
}
.product-logo {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin: 0 250px;
}
.product-logo-or {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
/* BUTTON BOTTOM */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    
    color: white;
    padding: 24px;
    margin-top: 36px;
    margin-bottom: 120px;
    margin-left: 6px;
    border-radius: 14px;
    border: 2px solid white;
    font-size: 24px;
    
}
button.blue {
    background-color: #175883;
}
button.orange {
    background-color: #E99001;
}
button.blue a {
    text-decoration: none;
    color: white;
}
button.orange a {
    text-decoration: none;
    color: white;
}

/* FOOTER */

footer {
    background-color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
   
    
}
footer ul, li {
    display: flex;
    justify-content: space-around;
    margin: 0 5px;
    font-size: 12px;
    
    

}
footer li {
    border-right: 2px dotted white;
    padding-right: 4px;
    
}
footer p {
    
    margin-left: 900px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
}
footer a {
    text-decoration: none;
    color: white;
    
}

 /* MEDIA QUERIES  */

/*  @media only screen and (min-width: 800px) {
     main {
         display: flex;
         flex-direction: column;
     }
 } */